/* universal element */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 25px;
}

/* element selectors */

header {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #030564;
    color: aliceblue;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
}



body {
    background-color: #c8cac6; 
    
}

/* HEADERS */

h1 {
    display: inline-block;
    font-size: 48px;
    font-family: serif;
    padding-right:20px;
}

h2 {
    padding-right: 25px;
    font-family: sans-serif;
}

h3 {
    font-size: 30px;
    text-align: center;
    padding-bottom: 10px;
}

/* nav elements */
nav {
    display: flex;
    width: 100%;
    background-color: #010111;
    justify-content: space-around;
    border-top: #c8cac6 solid 1px;
}

nav a {
    color: antiquewhite;
    font-size: 28px;
    text-decoration: none;
}

nav li { 
    display: inline-block;
    margin-left: 25px;
}

.box li {
    list-style-type: none;
    text-align: center;
}


div {
    display: block;
}

p {
    text-align: center;
}
 /* footer */
footer {
    border-top: 1px solid #000000;
    position: static;
    bottom: 0%;
    right: 0%;
    width: 100%;
    background-color: #010111 ;
    color: antiquewhite;
    z-index: 1;
}
/* image */
img {
    display: flex;
    max-width: 100%;
    height: auto
}

section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    
}
/* class selectors */

.box {
    box-sizing: border-box;
    width: 92%;
    margin: 20px 50px 20px 50px;
    padding: 30px;
    background-color: #24232396;
    color: #000000;
    border: #000000 solid 1px;
}

.float-right {
    float: right;
}

/* background img */

.background-img {
    height: 200px;
    width: 100%;
    background-image: url(./images/coding-banner.webp);
    background-size: cover;
}

.text-right {
    text-align: right;

}



/* ID Selectors */

#portrait {
    padding-bottom: 0px;
}
#main-img {
    width: 100%;
}

/* media queries */

@media screen and (max-width: 425px) {
    h1 {
        font-size: 25px;
        color: #ffffff;
        padding-right: 0%;
    }
    h2 {
        font-size: 20px;
        color: #ffffff;
        padding-right: 0%;
        margin-left: 15%;
    }
    
    
    div {
        display: flex;
        flex-direction: column;
    } 
    header {
        display:flex;
        height: auto;
        flex-direction: column-reverse;
        justify-content: center;
        justify-items: center;
    }
    #portrait {
        height: 80px;
        width: 80px;
        margin: 10px 0 0 25%;
    }
    .box {
        margin: 5px 5px 5px 12px;
    }
    footer {
        padding-right: 5%;
    }
    div ul {
        display: flex;
        flex-direction: column;
    }
    div ul li {
        font-size: 21px;
        font-family: Arial, Helvetica, sans-serif;
    }
}

@media screen and (max-width: 768px) {
    div nav ul li {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (min-width: 1000px) {
    #portrait {
        height: 150px;
    }
}